$text-color-light: #fff;
$text-color-dark: #1F2533;
$text-color-blur: #878787;
$main-color: #7400E8;
$danger-color: #FD3C65;
$light-color: #fff;
$section-bg-dark: #F8F8F8;
$slider-no-active: #C4C4C4;
$slider-active: #222222;
$opacity: rgba(255, 255, 255, .5);
$no-opacity: rgba(255, 255, 255);